html,
body {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.__container {
    width: 1177px;
    margin: 0 auto;
    padding: 0 15px;
}

.bold_span {
    font-weight: 600;
}

.__title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
}

.footer__subtitle {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #212121
}

.card__subtitle {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}

/* Header */

/* Top-Header */
.header {
    flex: 1 0 auto;
    max-width: 100%;
}

.mobile-top-header__container-wrapper {
    display: none;
}

.top-header__container-wrapper {
    background-color: #fff;
    /* margin-bottom: 24px; */

}

.top-header__container {
    height: 80px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    margin-bottom: 24px;
}

.header-logo {
    margin-right: 103px;
    width: 220px;
    height: 51.13px;
}

.header-shedule {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 36px;
    margin-right: 48px;
}

.header-phone_container {
    display: flex !important;
    align-items: center;
    column-gap: 8px;
    margin-right: 47px;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.header-phone_container:hover h2 {
    text-decoration: underline;
}

.header-cart_container {
    display: flex;
    align-items: center;

}

.header-cart-price {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    min-width: 64px;
}

.header-cart-button {
    display: flex !important;
    align-items: center;
    position: relative;
}

.header-cart-button h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #E15501;
}

.header-cart_item-number {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #E15501;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.header-cart-button svg {
    margin-right: 8px;
}


/* SLIDER/SWEIPER*/

.header-slider__container {
    margin-bottom: 32px;
}

/* This container works as a frame for displaying each slide*/
.header-slider__wrapper {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    max-height: 500px;
    /* z-index: 1; */
}

.header-slider-items__container {
    display: flex;
    position: relative;
    width: 100%;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.header-slider-item {
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden; /* add overflow property */
}

.header-slider-item .clone {
    transition: opacity 0.1s ease-in-out;
}

.header-slider-buttons_container {}

.header-slider-item img {
    max-width: 100%;
    height: auto;
}

.control {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #424242;
    opacity: .7;
    border-radius: 8px;
    color: #fff;
    margin-top: -20px;
    z-index: 2;
}

.control:hover {
    opacity: 1;
}

.prev {
    left: 0px;
}

.next {
    right: 0;
}

.prev:active,
.next:active {
    transform: scale(.9);
}

/* Header Navbar */

.header-navbar__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 32px;
}

.header-navbar__list {
    display: flex;
    column-gap: 16px;
}

.header-navbar__list-item {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
    /* font-weight: 600;  */
}

.header-navbar__list-item:hover {
    color: #E15501;
}

.header-navbar__list-item__active {
    color: #E15501;
}

/* Main Menu*/

.main {
    flex: 1 0 auto;
}

.main-menu__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
}

.main-menu__card {
    height: 530px;
    width: 360px;
    background-color: #fff;
    border-radius: 12px;
    /* border: 1px solid #000; */
}

.main-menu__card img {
    width: 368px;
    height: 276px;
    margin-bottom: 16px;
    border-radius: 12px 12px 0px 0px;
}

.main-menu__card-1 {}

.main-menu__card-2 {}

.main-menu__card-3 {}

.main-menu__card-4 {}

.main-menu__card-5 {}

.main-menu__card-6 {}

.main-menu__card__inside-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.main-menu__card__inside-container h2 {
    margin-bottom: 14px;
}

.main-menu__card__inside-container p {
    margin-bottom: 24px;
}

.main-menu__card__inside-buttons {
    display: flex;
    column-gap: 12px;
    margin-bottom: 24px;
}

.main-menu__card__inside-buttons button {
    background-color: rgba(217, 217, 217, 0.7);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    width: 104px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

.main-menu__card__inside-buttons button:hover {
    background-color: rgba(225, 85, 1, 0.8);
}

.main-menu__card__inside-bottom {
    display: flex;
    column-gap: 135px;
}

.main-menu__card__inside-bottom h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #212121;
}

.main-menu__card__inside-bottom button {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background: #E15501;
    border-radius: 12px;
    width: 120px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
}

/* Footer */

.footer {
    background-color: #EEEEEE;
    min-height: 285px;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-top: auto;
    flex: 0 0 auto;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
}

.footer-contact-info__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.header-phone_container {}

.header-phone_container h2 {
    color: #E15501;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.footer-schedule-info__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-social-info__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-social-info_svg__container {
    display: flex;
    justify-content: space-between;
}

.footer-menu-info__container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/* Preloader Styles */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    /* -webkit-transform: translateX(0); */
    /* transform: translateX(0); */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    margin: -175px 0 0 -175px;
    border-radius: 50%;
    border: 3px solid transparent;
    z-index: 99999;
}

.loaded #loader-wrapper {
    visibility: hidden;
    /* -webkit-transform: translateY(-100%); */
    /* transform: translateY(-100%); */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
    /* -webkit-transform: translateX(-100%); */
    /* transform: translateX(-100%); */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    /* -webkit-transform: translateX(100%);
    transform: translateX(100%); */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.preloader-svg-stick_1 {}

.preloader-svg-stick_2 {}


.loaded #loader-wrapper {
    visibility: hidden;
    /* transform: translateY(-100%); */
}

.loaded #loader {
    opacity: 0;
}

/* Pop Up Card */

.pop-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.pop-container-active {
    visibility: visible;
    opacity: 1;
}


.pop-btn {
    cursor: pointer;
}

.pop {
    min-width: 800px;
    height: 325px;
    display: flex;
    column-gap: 16px;
    position: relative;
    background-color: #fff;
    border-radius: 16px;
}

.pop img {
    width: 432px;
    height: 325px;
    border-radius: 16px;
}

.main-menu__card-1 {}

.main-menu__card-2 {}

.main-menu__card-3 {}

.main-menu__card-4 {}

.main-menu__card-5 {}

.main-menu__card-6 {}

.pop-main-menu__card__inside-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.pop-main-menu__card-titles {
    width: 262px;
    height: 95px;
    margin-bottom: 86px;
}

.pop-main-menu__card__inside-container h2 {
    margin-bottom: 14px;
}

.pop-main-menu__card__inside-container p {
    margin-bottom: 24px;
}

.pop-main-menu__card__inside-buttons {
    display: flex;
    column-gap: 12px;
    margin-bottom: 24px;
}

.pop-main-menu__card__inside-buttons button {
    background-color: rgba(217, 217, 217, 0.7);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    width: 104px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

.pop-main-menu__card__inside-buttons button:hover {
    background-color: rgba(225, 85, 1, 0.8);
}

.pop-main-menu__card__inside-bottom {
    display: flex;
    column-gap: 135px;
}

.pop-main-menu__card__inside-bottom h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #212121;
}

.pop-main-menu__card__inside-bottom button {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background: #E15501;
    border-radius: 12px;
    width: 120px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
}

.pop-icon-cancel {
    position: absolute;
    top: 8px;
    right: 8px;
}


/* MOBILE LAYOUT */

@media (max-width: 425px) {
    .top-header__container-wrapper {
        display: none;
    }

    .__container {
        width: 100%;
    }

    .header-navbar__container {
        display: none;
    }

    .mobile-top-header__container-wrapper {
        display: flex;
        max-width: 100%;
        background-color: #fff;
        margin-bottom: 24px;
    }

    .mobile-top-header__container {
        height: 80px;
        max-width: 100%;
        display: flex;
        align-items: center;
        font-family: 'Libre Franklin', sans-serif;
        padding: 0 15px;
    }

    .mobile-top-header__container img {
        width: 172px;
        height: 40px;
    }

    .mobile-header-cart_item-number {
        position: absolute;
        top: -10px;
        right: -5px;
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: #E15501;
        border: none;
        border-radius: 50%;
        color: #fff;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
}



/* Delivery Page*/

.main-devivery-info__container {
    display: flex;
    flex-direction: column;
    max-width: 870px;
    row-gap: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-family: 'Libre Franklin', sans-serif;
}

/* Contact Page */

.main-contact-info__container {
    display: flex;
    column-gap: 60px;
    margin-bottom: 28px;
}

.contact-map {
    width: 1060px;
    height: 510px;
    margin-bottom: 32px;
}


.main-contact-input__container {}

.main-contact-input__container h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 24px;
}

.main-contact-input {
    width: 742px;
    height: 410px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    margin-bottom: 150px;
    padding: 24px;
    font-family: 'Libre Franklin', sans-serif;
}

.main-contact-input-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.main-contact-input-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #212121;
    margin-bottom: 12px;
}

.main-contact-input-name {
    width: 381px;
    height: 48px;
    background: rgba(217, 217, 217, 0.38);
    border-radius: 12px;
    padding-left: 16px;
}


.main-contact-input-email {
    width: 289px;
    height: 48px;
    background: rgba(217, 217, 217, 0.38);
    border-radius: 12px;
    padding-left: 16px;
}

.main-contact-comment {
    width: 700px;
    height: 155px;
    background: rgba(217, 217, 217, 0.38);
    border-radius: 12px;
    margin-bottom: 24px;   
    padding: 12px 0 119px 16px ;
}

.main-contact-input-submit {
    padding: 10px 24px;
    width: 188px;
    height: 39px;
    background-color: #E15501 !important;
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}


/* CART PAGE */

.main-cart-page__container {}

.__container {}

.main-cart-page-items__container {}

.main-cart-page-items-upper {
    display: flex;
    column-gap: 430px;
    margin-bottom: 24px;
}

.main-cart-page-items-upper>button {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FF3D00;
}

.main-cart-page__items {
    min-height: 150px;
    width: 740px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    margin-bottom: 32px;
}


.main-cart-page__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px;
}

.main-cart-page__item:not(:last-child) .line {
    position: absolute;
    left: 3.3%;
    bottom: 0;
    width: 688px;
    height: 1px;
    background-color: #D9D9D9;
}

.main-cart-page__item img {
    margin-right: 31px;
}

.main-cart-page__item-add-remove {
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.main-cart-page__item h2 {
    margin-right: 80px;
}

.main-cart-page__item h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #212121
}

.main-cart-page__item h4 {
    max-width: 51px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-right: 24px;
    color: #212121;
    font-family: 'Libre Franklin', sans-serif;
}

.main-cart-page-button {
    width: 40px;
    height: 40px;
    font-family: 'Inter';
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    background-color: #E15501;
    border-radius: 8px;
    color: #FFFFFF;
}

.item-remove {}

.item-number {}

.item-add {}

.item-total-price {}

.item-delete {}

.main-cart-page-customer__conatiner {
    margin-bottom: 32px;
}

.main-cart-page-customer__conatiner h2 {
    margin-bottom: 24px;
}

.main-cart-page__title {
    /* margin-bottom: 12px; */
}

.main-cart-page-customer__card {
    width: 742px;
    height: 475px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    padding: 24px;
}
.main-cart-page-customer__card h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: -0.01em;    
    color: #212121;
    margin-bottom: 12px;
}

.main-cart-page-customer__card input {
    background: rgba(217, 217, 217, 0.38);
    border-radius: 12px;
    padding-left: 16px;
    height: 48px;
}

.main-cart-page-customer__card-upper {
    display: flex;
    margin-bottom: 32px;
}
.main-cart-page-customer__card-upper input {
    margin-right: 24px;
}

.main-cart-page-customer__card-upper-name {}

.main-cart-page-customer__card-upper-name input {
    width: 381px;
}

.main-cart-page-customer__card-upper-phone {}

.main-cart-page-customer__card-upper-phone input {
    width: 289px;
}

.main-cart-page-customer__card-buttons {
    display: flex;
    column-gap: 12px;
    margin-bottom: 24px;
}

.main-cart-page-customer__card-buttons button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #212121;
    width: 134px;
    height: 32px;
    background: rgba(217, 217, 217, 0.7);
    border-radius: 8px;
}
.main-cart-page-customer__card-buttons button:hover {
    background: rgba(225, 85, 1, 0.8);
    color: #fff;
}
.main-cart-page-customer__card-buttons .main-cart-page-customer__card-button__active{
    background: rgba(225, 85, 1, 0.8);
    color: #fff;
}

.main-cart-page-customer__card-address {
    display: flex;
    margin-bottom: 24px;
}
.main-cart-page-customer__card-address input {
    margin-right: 24px;
}

.main-cart-page-customer__card-address-street {}

.main-cart-page-customer__card-address-street input {
    width: 381px;
}

.main-cart-page-customer__card-address-entrance {}

.main-cart-page-customer__card-address-entrance input {
    width: 80px;
}

.main-cart-page-customer__card-address-floor {}

.main-cart-page-customer__card-address-floor input {
    width: 80px;
}

.main-cart-page-customer__card-address-apartment {}

.main-cart-page-customer__card-address-apartment input {
    width: 80px;
}

.main-cart-page-customer__card-address-comment {}

.main-cart-page-customer__card-address-comment input {
    width: 694px;
    height: 111px;
    padding-top: 12px;
    padding-bottom: 75px;
}

.main-cart-page-payment__conatiner {}

.main-cart-page-payment__card {}

.main-cart-page-payment__card-buttons {}

.main-cart-page-payment__card-sumbit {}

.main-cart-page-personal-data {}