/* MOBILE LAYOUT */

@media (max-width: 767px) {

    .__container {
        width: 100%;
    }

    #loader-wrapper {
        display: flex;
    }

    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 350px;
        height: 350px;
        margin: -175px 0 0 -205px;
        border-radius: 50%;
        border: 3px solid transparent;
        z-index: 99999;
    }

    /* header */

    .top-header__container-wrapper {
        display: none;
    }

    .wrapper._hidden {
        overflow: hidden;
    }

    .mobile-burger-menu__container {
        position: fixed;
        top: 80px;
        right: -100%;
        z-index: 1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0 28px 0 28px;
        overflow: auto;
        transition: right 0.7s ease-in-out;
      
    }
    .mobile-burger-menu__container._active {
       right: 0;
       
    }

    .mobile-burger-menu__container-active {
        display: flex;
    }

    .mobile-burger-menu__upper {
        margin-bottom: 24px;
        height: 80px;
        max-width: 100%;
        display: flex;
        align-items: center;
        font-family: 'Libre Franklin', sans-serif;

    }

    .mobile-margin-right {
        margin-right: 156px;
    }

    .mobile-burger-menu__container h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 16px;
        padding-left: 12px;
    }

    .mobile-burger-menu-items__container {
        display: flex;
        flex-direction: column;

    }

    .mobile-burger-menu__item {
        display: flex;
        align-items: center;
        padding-left: 12px;
        width: 288px;
        height: 42px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    .mobile-burger-menu__item:hover {
        background-color: #E15501;
        border-radius: 12px;
        color: #FFFFFF;
    }

    .mobile-burger-menu-line {
        width: 100%;
        border: 1px solid #212121;
        padding: 0;
    }

    .mobile-burger-menu-other-items__container {}

    .mobile-burger-menu-other-item {}




    .header-navbar__container {
        display: none;
    }

    .mobile-top-header__container-wrapper {
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        max-width: 100%;
        background-color: #fff;
        margin-bottom: 24px;
    }

    .mobile-top-header__container {
        height: 80px;
        max-width: 100%;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        font-family: 'Libre Franklin', sans-serif;
        padding: 0 15px;
    }
   

    .mobile-top-header__container img {
        width: 172px;
        height: 40px;
    }

    .header-cart-button {
        width: 44px;
        height: 44px;
        margin-right: 8px;
    }

    .header-cart-button svg {
        position: relative;
    }

    .header-slider__container {
        padding: 0;
    }

    .mobile-header-cart_item-number {
        position: absolute;
        top: 0;
        right: 7px;
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: #E15501;
        border: none;
        border-radius: 50%;
        color: #fff;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }

    .mobile-burger-menu-icon {
        width: 44px;
        height: 44px;
        margin-right: -16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    /* main */
    .main-menu__container {
        justify-content: center;
    }

    .main-menu__card {}

    .pop-container {
        z-index: 1;
    }

    .pop {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
    }

    .pop img {
        border-radius: 0;
    }
}